{{#each hbsUserBlogs as | blog|}}
<div class=" align-center mb-5 d-flex">
  <div class="col-6">

    <div class="card">
      <a href="/dashboard/edit/{{blog.id}}">
      <div class="card-header ">
        {{blog.title}}
        <div>
          Created at:
          {{../time}}
        </div>
      </div>

      <div class="card-body">
        {{blog.post}}
      </div>
      </a>
    </div>

    <a id="smalbtn" href="javascript:deletePost({{blog.id}})">delete</a>
    <a id="smalbtn" href="/dashboard/edit/{{blog.id}}">update</a>

  </div>

</div>
{{/each}}



<h3>
  <a id="newPost" href="/dashboard/new"> New Post</a>
</h3>
{{!-- <button id="new-post">New Post</button> --}}
<div class="col-md-6">
</div>
</div>

<script>
  const deletePost = async (id) => {

    const response = await fetch(`/api/users/dashboard/delete/${id}`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json',
      }
    });

    if (response.ok) {

      document.location.replace('/dashboard');

    } else {


      alert('Failed to delete');
    }

  };
</script>
{{!--
<script src="/js/delete.js"></script>
<script src="/js/update.js"></scrip > --}}