<div class="row align-center mb-5">
  <div class="col-md-6">
    {{time}}
    {{#each blogs as | blog|}}
    <a href="/post/{{blog.id}}">
    <div class="card">
      <div class="card-header col">
        <div class=" ">
         <h3> {{blog.title}}</h3>
        </div>
        <div>
         Created by:
          {{blog.user.username}}
        </div>
        <div >
         Created at:
         {{../time}}
        </div>
      </div>
      <div class="card-body">
        {{blog.post}}
      </div>
</a>

    </div>
    {{/each}}

  </div>
  <div class="col-md-6">

  </div>
</div>